n8n/workflows/cal-35-vocabulary-publisher.json
{
  "name": "CAL-35 Vocabulary Video Publisher (Manual / Inactive)",
  "active": false,
  "settings": { "executionOrder": "v1", "saveDataErrorExecution": "all", "saveDataSuccessExecution": "all", "saveManualExecutions": true, "timezone": "Asia/Ho_Chi_Minh" },
  "nodes": [
    { "id": "manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-1120, 0], "parameters": {} },
    { "id": "input", "name": "Test Input (replace in production)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-900, 0], "parameters": { "jsCode": "const incoming = $input.first()?.json;\nif (Array.isArray(incoming?.entries)) return [{json: incoming}];\nreturn [{json:{batch_id:'cal35-manual-test',approved:false,mode:'draft',privacy:'SELF_ONLY',publish_at:new Date(Date.now()+60000).toISOString(),entries:[{word:'resilient',ipa:'/rɪˈzɪl.i.ənt/',part_of_speech:'adjective',meaning_vi:'kiên cường',example_en:'She stayed resilient after the setback.',example_vi:'Cô ấy vẫn kiên cường sau trở ngại.',cta:'Follow @english.daily.vn để học 1 từ mỗi ngày.',channel_handle:'@english.daily.vn',duration_seconds:10,template_key:'vocabulary-pastel-v1'}]}}];" } },
    { "id": "validate", "name": "Validate Batch 1-50", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-680, 0], "parameters": { "jsCode": "const body=$input.first().json; const entries=body.entries;\nif(!Array.isArray(entries)||entries.length<1||entries.length>50) throw new Error('NON_RETRYABLE: entries must contain 1-50 items');\nif(!/^[A-Za-z0-9][A-Za-z0-9._-]{7,127}$/.test(body.batch_id||'')) throw new Error('NON_RETRYABLE: batch_id must be 8-128 URL-safe characters');\nconst publishAt=new Date(body.publish_at); if(Number.isNaN(publishAt.getTime())) throw new Error('NON_RETRYABLE: publish_at must be ISO-8601');\nreturn entries.map((entry,index)=>{ for(const key of ['word','ipa','part_of_speech','meaning_vi','example_en','example_vi','cta','channel_handle','template_key']) if(typeof entry[key]!=='string'||!entry[key].trim()) throw new Error(`NON_RETRYABLE: entries[${index}].${key} is required`); return {json:{...entry,batch_id:body.batch_id,job_id:`${body.batch_id}-${String(index+1).padStart(2,'0')}`,approved:body.approved===true,mode:body.mode==='publish'?'publish':'draft',privacy:'SELF_ONLY',publish_at:publishAt.toISOString()}};});" } },
    { "id": "render", "name": "Render Video", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-440, 0], "onError": "continueRegularOutput", "parameters": { "method": "POST", "url": "={{ $env.RENDERER_BASE_URL + '/v1/renders' }}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "Idempotency-Key", "value": "={{ $json.job_id }}" }] }, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify($json) }}", "options": { "timeout": 130000, "response": { "response": { "fullResponse": true, "neverError": true } } } } },
    { "id": "render-classify", "name": "Classify Render Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-200, 0], "parameters": { "jsCode": "return $input.all().map(item=>{const r=item.json; const job=$('Validate Batch 1-50').item.json; const attempt=$runIndex+1; const status=Number(r.statusCode||r.status||0); if(status>=200&&status<300) return {json:{...r.body,...job,render_status:'completed',retry:false,attempt}}; const retryable=status===0||[408,425,429].includes(status)||status>=500; if(!retryable) throw new Error(`NON_RETRYABLE: renderer HTTP ${status}`); if(attempt>=3) throw new Error(`RETRY_EXHAUSTED: renderer HTTP ${status||'transport'} after ${attempt} attempts`); return {json:{...job,retry:true,retry_delay_seconds:2**(attempt-1),last_http_status:status||null}};});" } },
    { "id": "render-retry", "name": "Retry Render?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [20, 0], "parameters": { "conditions": { "options": { "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.retry === true }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }], "combinator": "and" } } },
    { "id": "render-backoff", "name": "Render Retry Backoff", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [20, -160], "parameters": { "resume": "timeInterval", "amount": "={{ $json.retry_delay_seconds }}", "unit": "seconds" } },
    { "id": "download", "name": "Download Rendered MP4", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [40, 0], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000, "parameters": { "url": "={{ $json.url }}", "options": { "timeout": 30000, "response": { "response": { "responseFormat": "file", "outputPropertyName": "video" } } } } },
    { "id": "r2", "name": "Upload MP4 to R2", "type": "n8n-nodes-base.s3", "typeVersion": 1, "position": [280, 0], "onError": "continueRegularOutput", "credentials": { "s3": { "name": "CAL-3 R2 (configure in n8n)" } }, "parameters": { "operation": "upload", "bucketName": "={{ $env.CAL3_R2_BUCKET }}", "fileName": "={{ 'cal-3/pending/' + $('Classify Render Result').item.json.job_id + '.mp4' }}", "binaryPropertyName": "video", "additionalFields": { "contentType": "video/mp4" } } },
    { "id": "r2-classify", "name": "Classify R2 Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 0], "parameters": { "jsCode": "return $input.all().map(item=>{const r=item.json; const source=$('Download Rendered MP4').item; const attempt=$runIndex+1; if(!r.error) return {json:{...source.json,storage_status:'completed',retry:false,attempt},binary:source.binary}; const status=Number(r.statusCode||r.status||r.httpCode||0); const retryable=status===0||[408,425,429].includes(status)||status>=500; if(!retryable) throw new Error(`NON_RETRYABLE: storage HTTP ${status}`); if(attempt>=3) throw new Error(`RETRY_EXHAUSTED: storage HTTP ${status||'transport'} after ${attempt} attempts`); return {json:{...source.json,retry:true,retry_delay_seconds:2**(attempt-1),last_http_status:status||null},binary:source.binary};});" } },
    { "id": "r2-retry", "name": "Retry R2?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [720, 0], "parameters": { "conditions": { "options": { "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.retry === true }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }], "combinator": "and" } } },
    { "id": "r2-backoff", "name": "R2 Retry Backoff", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [720, -160], "parameters": { "resume": "timeInterval", "amount": "={{ $json.retry_delay_seconds }}", "unit": "seconds" } },
    { "id": "media", "name": "Build Media URL", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [520, 0], "parameters": { "jsCode": "const job=$('Classify Render Result').item.json; const base=String($env.CAL3_MEDIA_BASE_URL||'').replace(/\\/$/,''); if(!base.startsWith('https://')) throw new Error('NON_RETRYABLE: CAL3_MEDIA_BASE_URL must be HTTPS'); return [{json:{...job,videoUrl:`${base}/cal-3/pending/${job.job_id}.mp4`,caption:`${job.word} ${job.ipa} — ${job.meaning_vi}\\n${job.example_en}\\n${job.cta}`}}];" } },
    { "id": "wait", "name": "Wait Until publish_at", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [760, 0], "parameters": { "resume": "specificTime", "dateTime": "={{ $json.publish_at }}" } },
    { "id": "gate", "name": "Explicit Publish Approval Gate", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1000, 0], "parameters": { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.approved === true && $env.N8N_CAL3_PUBLISH_ENABLED === 'true' }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }], "combinator": "and" } } },
    { "id": "publish", "name": "Backend Schedule Publish", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1240, -100], "onError": "continueRegularOutput", "credentials": { "httpHeaderAuth": { "name": "Social Publisher Backend (configure in n8n)" } }, "parameters": { "method": "POST", "url": "={{ $env.SOCIAL_PUBLISHER_BASE_URL + '/api/internal/tiktok/publish' }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({videoUrl:$json.videoUrl,caption:$json.caption,mode:$json.mode,privacy:'SELF_ONLY',idempotencyKey:$json.job_id}) }}", "options": { "timeout": 30000, "response": { "response": { "fullResponse": true, "neverError": true } } } } },
    { "id": "publish-classify", "name": "Classify Publish Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1480, -100], "parameters": { "jsCode": "return $input.all().map(item=>{const r=item.json; const source=$('Build Media URL').item.json; const attempt=$runIndex+1; const status=Number(r.statusCode||r.status||0); if(status>=200&&status<300) return {json:{...source,status:'publish_initialized',publish_id:r.body?.publishId,mode:r.body?.mode,cached:r.body?.cached===true,retry:false,attempt}}; const retryable=status===0||[408,425,429].includes(status)||status>=500; if(!retryable) throw new Error(`NON_RETRYABLE: publish HTTP ${status}`); if(attempt>=3) throw new Error(`RETRY_EXHAUSTED: publish HTTP ${status||'transport'} after ${attempt} attempts`); return {json:{...source,retry:true,retry_delay_seconds:2**(attempt-1),last_http_status:status||null}};});" } },
    { "id": "publish-retry", "name": "Retry Publish?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1700, -100], "parameters": { "conditions": { "options": { "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.retry === true }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }], "combinator": "and" } } },
    { "id": "publish-backoff", "name": "Publish Retry Backoff", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [1700, -260], "parameters": { "resume": "timeInterval", "amount": "={{ $json.retry_delay_seconds }}", "unit": "seconds" } },
    { "id": "held", "name": "Held for Approval", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1240, 120], "parameters": { "jsCode": "return $input.all().map(item=>({json:{job_id:item.json.job_id,status:'WAITING_FOR_APPROVAL',reason:'Set approved=true and N8N_CAL3_PUBLISH_ENABLED=true only for an authorized manual test'}}));" } }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Test Input (replace in production)", "type": "main", "index": 0 }]] },
    "Test Input (replace in production)": { "main": [[{ "node": "Validate Batch 1-50", "type": "main", "index": 0 }]] },
    "Validate Batch 1-50": { "main": [[{ "node": "Render Video", "type": "main", "index": 0 }]] },
    "Render Video": { "main": [[{ "node": "Classify Render Result", "type": "main", "index": 0 }]] },
    "Classify Render Result": { "main": [[{ "node": "Retry Render?", "type": "main", "index": 0 }]] },
    "Retry Render?": { "main": [[{ "node": "Render Retry Backoff", "type": "main", "index": 0 }],[{ "node": "Download Rendered MP4", "type": "main", "index": 0 }]] },
    "Render Retry Backoff": { "main": [[{ "node": "Render Video", "type": "main", "index": 0 }]] },
    "Download Rendered MP4": { "main": [[{ "node": "Upload MP4 to R2", "type": "main", "index": 0 }]] },
    "Upload MP4 to R2": { "main": [[{ "node": "Classify R2 Result", "type": "main", "index": 0 }]] },
    "Classify R2 Result": { "main": [[{ "node": "Retry R2?", "type": "main", "index": 0 }]] },
    "Retry R2?": { "main": [[{ "node": "R2 Retry Backoff", "type": "main", "index": 0 }],[{ "node": "Build Media URL", "type": "main", "index": 0 }]] },
    "R2 Retry Backoff": { "main": [[{ "node": "Upload MP4 to R2", "type": "main", "index": 0 }]] },
    "Build Media URL": { "main": [[{ "node": "Wait Until publish_at", "type": "main", "index": 0 }]] },
    "Wait Until publish_at": { "main": [[{ "node": "Explicit Publish Approval Gate", "type": "main", "index": 0 }]] },
    "Explicit Publish Approval Gate": { "main": [[{ "node": "Backend Schedule Publish", "type": "main", "index": 0 }],[{ "node": "Held for Approval", "type": "main", "index": 0 }]] },
    "Backend Schedule Publish": { "main": [[{ "node": "Classify Publish Result", "type": "main", "index": 0 }]] },
    "Classify Publish Result": { "main": [[{ "node": "Retry Publish?", "type": "main", "index": 0 }]] },
    "Retry Publish?": { "main": [[{ "node": "Publish Retry Backoff", "type": "main", "index": 0 }],[]] },
    "Publish Retry Backoff": { "main": [[{ "node": "Backend Schedule Publish", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
