n8n/workflows/cal-51-sheets-manual.json
{
  "name":"CAL-51 Google Sheets Manual Setup and Dry Run","active":false,
  "nodes":[
    {"id":"manual","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1200,0],"parameters":{}},
    {"id":"content","name":"Create Content Tab","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[-1000,0],"credentials":{"googleApi":{"id":"7frVxcS8Eb3CBDD9","name":"Google Service Account account"}},"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"create","sheetId":"1bfzprj4G7VrnPZmC3qMXwF5hL8qLHNYbmr8z1lAoSU0","simple":true,"options":{"title":"Content","gridProperties":{"rowCount":1000,"columnCount":30,"frozenRowCount":1}}}},
    {"id":"events","name":"Create Events Tab","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[-800,0],"credentials":{"googleApi":{"id":"7frVxcS8Eb3CBDD9","name":"Google Service Account account"}},"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"create","sheetId":"1bfzprj4G7VrnPZmC3qMXwF5hL8qLHNYbmr8z1lAoSU0","simple":true,"options":{"title":"Events","gridProperties":{"rowCount":1000,"columnCount":7,"frozenRowCount":1}}}},
    {"id":"config","name":"Create Config Tab","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[-600,0],"credentials":{"googleApi":{"id":"7frVxcS8Eb3CBDD9","name":"Google Service Account account"}},"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"create","sheetId":"1bfzprj4G7VrnPZmC3qMXwF5hL8qLHNYbmr8z1lAoSU0","simple":true,"options":{"title":"Config","gridProperties":{"rowCount":200,"columnCount":3,"frozenRowCount":1}}}},
    {"id":"read","name":"Read Seed CSV","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-400,0],"parameters":{"operation":"read","fileSelector":"/tmp/vocabulary-content-items.csv","options":{}}},
    {"id":"extract","name":"Parse Seed CSV","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-200,0],"parameters":{"operation":"csv","binaryPropertyName":"data","options":{"headerRow":true}}},
    {"id":"matrix","name":"Build Safe Content Matrix","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"parameters":{"jsCode":"const rows=$input.all().map(i=>i.json); const h='content_id,word,normalized_word,language,part_of_speech,sense_key,meaning_vi,context_topic,example_en,example_vi,ipa,hook,cta,template_id,source,source_ref,license_note,publish_ok,review_status,reviewed_by,publish_at,status,claimed_at,render_id,publish_id,published_at,error_code,dedupe_key,created_at,updated_at'.split(','); const safe=v=>typeof v==='string'&&/^[=+\\-@]/.test(v)?\"'\"+v:(v??''); return [{json:{data:[h,...rows.map(r=>h.map(k=>safe(r[k])))]}}];"}},
    {"id":"write","name":"Write Content Seed RAW","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[200,0],"credentials":{"googleApi":{"id":"7frVxcS8Eb3CBDD9","name":"Google Service Account account"}},"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"update","sheetId":"1bfzprj4G7VrnPZmC3qMXwF5hL8qLHNYbmr8z1lAoSU0","range":"Content!A1:AD11","rawData":true,"dataProperty":"data","options":{"valueInputMode":"RAW"}}},
    {"id":"aux","name":"Build Events and Config Headers","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"parameters":{"jsCode":"return [{json:{events:[['event_id','source','source_ref','payload_hash','content_id','result','created_at']],config:[['key','value','description'],['workflow_mode','manual','No schedule; dry-run only'],['claim_limit','10','Maximum rows per manual claim'],['formula_guard','prefix_apostrophe','RAW writes plus leading formula-character guard']]}}];"}},
    {"id":"we","name":"Write Events Header","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[600,-80],"credentials":{"googleApi":{"id":"7frVxcS8Eb3CBDD9","name":"Google Service Account account"}},"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"update","sheetId":"1bfzprj4G7VrnPZmC3qMXwF5hL8qLHNYbmr8z1lAoSU0","range":"Events!A1:G1","rawData":true,"dataProperty":"events","options":{"valueInputMode":"RAW"}}},
    {"id":"wc","name":"Write Config Values","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[800,-80],"credentials":{"googleApi":{"id":"7frVxcS8Eb3CBDD9","name":"Google Service Account account"}},"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"update","sheetId":"1bfzprj4G7VrnPZmC3qMXwF5hL8qLHNYbmr8z1lAoSU0","range":"Config!A1:C4","rawData":true,"dataProperty":"config","options":{"valueInputMode":"RAW"}}}
  ],
  "connections":{"Manual Trigger":{"main":[[{"node":"Read Seed CSV","type":"main","index":0}]]},"Create Content Tab":{"main":[[{"node":"Create Events Tab","type":"main","index":0}]]},"Create Events Tab":{"main":[[{"node":"Create Config Tab","type":"main","index":0}]]},"Create Config Tab":{"main":[[{"node":"Read Seed CSV","type":"main","index":0}]]},"Read Seed CSV":{"main":[[{"node":"Parse Seed CSV","type":"main","index":0}]]},"Parse Seed CSV":{"main":[[{"node":"Build Safe Content Matrix","type":"main","index":0}]]},"Build Safe Content Matrix":{"main":[[{"node":"Write Content Seed RAW","type":"main","index":0}]]},"Write Content Seed RAW":{"main":[[{"node":"Build Events and Config Headers","type":"main","index":0}]]},"Build Events and Config Headers":{"main":[[{"node":"Write Events Header","type":"main","index":0}]]},"Write Events Header":{"main":[[{"node":"Write Config Values","type":"main","index":0}]]}},
  "settings":{"executionOrder":"v1"},"tags":[]
}
