workflows/social-workspace.json
{
  "name": "Social-Workspace CAL-35",
  "active": false,
  "settings": {"executionOrder": "v1"},
  "nodes": [
    {"id":"trigger","name":"Manual Batch Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-900,0],"parameters":{}},
    {"id":"input","name":"Safe Sample Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,0],"parameters":{"jsCode":"return [{json:{idempotency_key:'replace-with-unique-key',items:[{word:'resilient',meaning:'able to recover quickly',example:'A resilient service recovers.',publish_at:new Date(Date.now()+3600000).toISOString()}],mode:'draft'}}];"}},
    {"id":"validate","name":"Validate Batch 1-50","type":"n8n-nodes-base.code","typeVersion":2,"position":[-500,0],"parameters":{"jsCode":"const p=$json,e=[]; if(!Array.isArray(p.items)||p.items.length<1||p.items.length>50)e.push('items must contain 1-50 entries'); if(!/^[A-Za-z0-9._:-]{8,128}$/.test(String(p.idempotency_key??'')))e.push('invalid idempotency_key'); if(p.mode!==undefined&&p.mode!=='draft')e.push('publish mode is manual/disabled'); for(const [i,x] of (p.items??[]).entries()){if(!String(x.word??'').trim()||!String(x.meaning??'').trim())e.push(`item ${i} is incomplete`);if(!Number.isFinite(Date.parse(x.publish_at)))e.push(`item ${i} has invalid publish_at`)} if(e.length)throw new Error(`NON_RETRYABLE validation_error: ${e.join('; ')}`); return p.items.map((x,i)=>({json:{...x,job_id:`${p.idempotency_key}-${String(i+1).padStart(2,'0')}`,mode:'draft',privacy:'SELF_ONLY'}}));"}},
    {"id":"render","name":"Render Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-280,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"parameters":{"method":"POST","url":"={{ $env.RENDERER_BASE_URL + '/v1/renders' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Idempotency-Key","value":"={{ $json.job_id }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({template:'vocabulary-pastel-v1',word:$json.word,meaning:$json.meaning,example:$json.example??''}) }}","options":{"timeout":130000,"response":{"response":{"fullResponse":true,"neverError":true}}}}},
    {"id":"classify","name":"Classify and Prepare R2","type":"n8n-nodes-base.code","typeVersion":2,"position":[-60,0],"parameters":{"jsCode":"const s=Number($json.statusCode??200);if(s>=400)throw new Error(`${s===408||s===429||s>=500?'RETRYABLE':'NON_RETRYABLE'} render_http_${s}`);const job=$('Validate Batch 1-50').item.json,body=$json.body??$json;if(!body.url)throw new Error('NON_RETRYABLE render_missing_url');return [{json:{...job,render_url:body.url,object_key:`cal-3/pending/${job.job_id}.mp4`}}];"}},
    {"id":"download","name":"Download Rendered MP4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":4000,"parameters":{"url":"={{ $json.render_url }}","options":{"timeout":30000,"response":{"response":{"responseFormat":"file","outputPropertyName":"data"}}}}},
    {"id":"r2","name":"Upload Pending MP4 to R2","type":"n8n-nodes-base.s3","typeVersion":1,"position":[380,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":4000,"parameters":{"operation":"upload","bucketName":"={{ $env.R2_BUCKET_NAME }}","fileName":"={{ $('Classify and Prepare R2').item.json.object_key }}","binaryPropertyName":"data","additionalFields":{}},"credentials":{"s3":{"id":"R2_CREDENTIAL_ID","name":"R2 S3 credential"}}},
    {"id":"wait","name":"Wait Until Scheduled Time","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[600,0],"parameters":{"resume":"specificTime","dateTime":"={{ $('Validate Batch 1-50').item.json.publish_at }}"}},
    {"id":"prepare","name":"Prepare Draft Backend Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[820,0],"parameters":{"jsCode":"const j=$('Classify and Prepare R2').item.json,b=String($env.R2_PUBLIC_BASE_URL??'').replace(/\\/$/,'');if(!b.startsWith('https://'))throw new Error('NON_RETRYABLE invalid R2 public URL');return [{json:{...j,videoUrl:`${b}/${j.object_key}`,caption:j.caption??`${j.word}: ${j.meaning}`,mode:'draft',privacy:'SELF_ONLY',idempotencyKey:j.job_id}}];"}},
    {"id":"draft","name":"Create TikTok Draft via Backend","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"parameters":{"method":"POST","url":"={{ $env.SOCIAL_BACKEND_URL + '/api/internal/tiktok/publish' }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Idempotency-Key","value":"={{ $json.idempotencyKey }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({videoUrl:$json.videoUrl,caption:$json.caption,mode:'draft',privacy:'SELF_ONLY'}) }}","options":{"timeout":30000,"response":{"response":{"fullResponse":true,"neverError":true}}}},"credentials":{"httpHeaderAuth":{"id":"BACKEND_AUTH_CREDENTIAL_ID","name":"Social backend bearer token"}}},
    {"id":"result","name":"Classify Draft Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,0],"parameters":{"jsCode":"const s=Number($json.statusCode??200),retryable=s===408||s===425||s===429||s>=500;if(s>=400)throw new Error(`${retryable?'RETRYABLE':'NON_RETRYABLE'} publish_http_${s}`);return [{json:{ok:true,status:'DRAFT_CREATED',mode:'draft',publish_id:($json.body??$json).publishId}}];"}}
  ],
  "connections": {
    "Manual Batch Trigger":{"main":[[{"node":"Safe Sample Input","type":"main","index":0}]]},
    "Safe Sample Input":{"main":[[{"node":"Validate Batch 1-50","type":"main","index":0}]]},
    "Validate Batch 1-50":{"main":[[{"node":"Render Video","type":"main","index":0}]]},
    "Render Video":{"main":[[{"node":"Classify and Prepare R2","type":"main","index":0}]]},
    "Classify and Prepare R2":{"main":[[{"node":"Download Rendered MP4","type":"main","index":0}]]},
    "Download Rendered MP4":{"main":[[{"node":"Upload Pending MP4 to R2","type":"main","index":0}]]},
    "Upload Pending MP4 to R2":{"main":[[{"node":"Wait Until Scheduled Time","type":"main","index":0}]]},
    "Wait Until Scheduled Time":{"main":[[{"node":"Prepare Draft Backend Request","type":"main","index":0}]]},
    "Prepare Draft Backend Request":{"main":[[{"node":"Create TikTok Draft via Backend","type":"main","index":0}]]},
    "Create TikTok Draft via Backend":{"main":[[{"node":"Classify Draft Result","type":"main","index":0}]]}
  }
}
